@import url('../request/style.css') ;

.ussd-code-label {
    color: #E21B63;
    padding: 5;
    text-align: center;
    margin-top: 40;
} 

.button-border {
    width: 220;
    padding-left: 10;
    margin-top: 5;
}
