<ActionBar title="">
	<NavigationButton text="" android.systemIcon="ic_menu_back" ios.systemIcon="12"></NavigationButton>
</ActionBar>
<GridLayout class="page-holder">
	<GridLayout class="page-content" rows="auto, *">
		<GridLayout row="0">
			<GridLayout class="title-holder" rows="auto,auto">
				<Label row="0" text="Check Balance" textWrap="true" class="title"></Label>
				<Label row="1" text="check airtime and data balance" textWrap="true" class="title-description"></Label>
			</GridLayout>
		</GridLayout>
		<ScrollView row="1" class="form-section">
			<StackLayout class="fields-section">
				<StackLayout>
					<StackLayout rows="auto, auto" verticalAlignment="top">
						<Label text="Network Provider" class="field-title"></Label>
						<DropDown #networkProvider class="field" [items]="networkName" [selectedIndex]="providerSelectedIndex" (selectedIndexChange)="onProviderChange(networkProvider.selectedIndex)"
							row="1"></DropDown>
					</StackLayout>
					<StackLayout ios:class="line"></StackLayout>
				</StackLayout>
				<Label class="ussd-code-label" [text]="getUSSDCode('airtime')" textWrap="true"></Label>
				<Border class="button-border" (tap)="checkAirtimeBalance()">
					<GridLayout rows="auto" columns="auto, *">
						<Fonticon faClass="fa-hourglass-start" col="0"></Fonticon>
						<Label text="Check Airtime Balance" class="btn-label" col="1"></Label>
					</GridLayout>
				</Border>
				<Label class="ussd-code-label" [text]="getUSSDCode('data')" textWrap="true"></Label>
				<Border class="button-border" (tap)="checkDataBalance()">
					<GridLayout rows="auto" columns="auto, *">
						<Fonticon faClass="fa-hourglass-end" col="0"></Fonticon>
						<Label text="Check Data Balance" class="btn-label" col="1"></Label>
					</GridLayout>
				</Border>
			</StackLayout>
		</ScrollView>
	</GridLayout>
</GridLayout>