
.logo-holder {
    vertical-align: middle;
}

.lholder {
    horizontal-align: center;
}

.logo, .logo-ext {
    color: white;
    font-size: 30;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}

.slogan {
    color: white;
    font-size: 13;
    text-align: center;
}

.app-logo {
    width: 50;
    height: 50;
}

.buttons-holder {
    horizontal-align: stretch;
    padding: 10;
    margin-bottom: 20;
}

.button-border {
    width: 130;
    height: 40;
    margin-top: 10;
    margin-bottom: 20;
    border-radius: 20;

}

/* This is better than above... */
.button-border .btn-label {
    font-size: 12;
    font-weight: bolder;
    color: white;
    font-weight: bold;
}
