<ActionBar title="Welcome">
</ActionBar>
<GridLayout class="page-holder">
	<GridLayout class="page-content" rows="*, auto">
		<GridLayout row="0">
			<GridLayout class="logo-holder" rows="auto,auto,auto">
				<Image row="0" #homeLogoImage src="~/images/oneclick-white.png" class="app-logo"></Image>
				<GridLayout class="lholder" columns="auto, auto" row="1">
					<Label text="OneClick" textWrap="true" class="logo" col="0"></Label>
					<Label text="" textWrap="true" class="logo-ext" col="1"></Label>
				</GridLayout>
				<Label row="2" text="your easy shortcode app" textWrap="true" class="slogan"></Label>
			</GridLayout>
		</GridLayout>
		<StackLayout row="1" class="buttons-holder homepage-buttons-holder" paddingBottom="20">
			<GridLayout rows="auto, auto, auto" columns="*, *">
				<StackLayout row="0" col="0">
					<Border class="button-border" [nsRouterLink]="['/request']" pageTransition="slide">
						<GridLayout rows="auto" columns="auto, *">
							<Fonticon faClass="fa-smile-o" col="0"></Fonticon>
							<Label text="Request Airtime" class="btn-label" col="1"></Label>
						</GridLayout>
					</Border>
					<!--Label class="nav-description" text="ask friends & family to send you airtime" textWrap="true"></Label-->
				</StackLayout>
				<StackLayout row="0" col="1">
					<Border class="button-border" [nsRouterLink]="['/send']" pageTransition="slide">
						<GridLayout rows="auto" columns="auto, *">
							<Fonticon faClass="fa-send" col="0"></Fonticon>
							<Label text="Send Airtime" class="btn-label" col="1"></Label>
						</GridLayout>
					</Border>
					<!--Label class="nav-description" text="send airtime to friends & family" textWrap="true"></Label-->
				</StackLayout>
				<StackLayout row="1" col="0">
					<Border class="button-border" [nsRouterLink]="['/buy']" pageTransition="slide">
						<GridLayout rows="auto" columns="auto, *">
							<Fonticon faClass="fa-money" col="0"></Fonticon>
							<Label text="Buy Airtime" class="btn-label" col="1"></Label>
						</GridLayout>
					</Border>
					<!--Label class="nav-description" text="purchase airtime for your phone" textWrap="true"></Label-->
				</StackLayout>
				<StackLayout row="1" col="1">
					<Border class="button-border" [nsRouterLink]="['/balance']" pageTransition="slide">
						<GridLayout rows="auto" columns="auto, *">
							<Fonticon faClass="fa-hourglass-half" styleClass="style-class" col="0"></Fonticon>
							<Label text="Check Balance" class="btn-label" col="1"></Label>
						</GridLayout>
					</Border>
					<!--Label class="nav-description" text="check airtime & data balance" textWrap="true"></Label-->
				</StackLayout>
				<StackLayout row="2" col="0">
					<Border class="button-border" [nsRouterLink]="['/transfer']" pageTransition="slide">
						<GridLayout rows="auto" columns="auto, *">
							<Fonticon faClass="fa-exchange" styleClass="style-class" col="0"></Fonticon>
							<Label text="Transfer Credit" class="btn-label" col="1"></Label>
						</GridLayout>
					</Border>
					<!--Label class="nav-description" text="transfer airtime to friend" textWrap="true"></Label-->
				</StackLayout>
				<StackLayout row="2" col="1">
					<Border class="button-border" [nsRouterLink]="['/settings']" pageTransition="slide">
						<GridLayout rows="auto" columns="auto, *">
							<Fonticon faClass="fa-cog" styleClass="style-class" col="0"></Fonticon>
							<Label text="Settings" class="btn-label" col="1"></Label>
						</GridLayout>
					</Border>
					<!--Label class="nav-description" text="transfer airtime to friend" textWrap="true"></Label-->
				</StackLayout>
			</GridLayout>
		</StackLayout>
	</GridLayout>
</GridLayout>