﻿Page, page-router-outlet, my-app {
    background-color: #E21B63;
}

.page-holder {
    margin: 0;
    padding: 0;
}

Label {
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

.fa {
    font-family: FontAwesome, fontawesome-webfont;
    font-size: 20;
    color:#fff;
    text-align: center;
    vertical-align: middle;
    horizontal-align: center;
    padding: 10;
    margin: 0;
}

.homepage-buttons-holder .fa {
    font-size: 15;
    padding: 10 8;
    font-weight: bold;
}

.button-border {
    horizontal-align: stretch;
    width: 150;
    height: 45;
    margin-top: 13;
    border-width: 2;
    border-color: white;
    background-color: #E21B63;
    border-radius: 25;
}

/* This is better than above... */
.button-border .btn-label {
     horizontal-align: stretch;
    vertical-align: middle;
    text-align: left;
    font-size: 12;
    font-weight: bolder;
    color: white;
    font-weight: bold;
}

/****************************** Fonticon ***********************/
