.title {
    font-size: 30;
    margin: 16;
    color: darkslategray;
}

.subtitle {
    font-size: 20; 
    horizontal-align: center; 
    margin: 10;
}

.nav {
    orientation: horizontal;
    horizontal-align: center;
    padding: 4;
    background-color: lightblue;
}

.link {
    margin: 10 30;
    horizontal-align: center;
}

.active {
    color: orangered;
}

.router-link-active {
    background-color: lightcoral;
}

button {
    horizontal-align: left;
    margin: 0 6;
}

.master {
    margin: 10;
    background-color: lightgreen;
}

.master button {
    horizontal-align: center;
}

.detail {
    margin: 10;
    background-color: lightgreen;
}

.detail button {
    horizontal-align: center;
}

.odd { 
    background-color: white; 
    margin: 2;
}

.even { 
    background-color: whitesmoke; 
    margin: 2; 
}

.stretch {
    horizontal-align: stretch;
    margin: 0 10;
}