.title-holder {
    margin: 60 20 10 50;
    text-align: left;
}

.title {
    color: white;
    font-size: 25;
    font-weight: 900;
}

.title-description {
    color: white;
    font-size: 12;
}

.buttons-holder {
    horizontal-align: stretch;
    margin-bottom: 50;
}

.form-section {
    background-color: white;
    margin:0;
}

.fields-section {
    padding: 20 50;
}

.field-title, .field-switch-title {
  horizontal-align: left;
  font-size: 14;
  color: #E21B63;
  font-weight: bold;
  padding: 10 0 5 0;
}

.field {
  horizontal-align: stretch;
  text-align: left;
  font-size: 14;
  color: #333333;
  padding: 5 0 10 0;
}

.field-multiline {
  min-height: 60;
  font-size: 14;
  color: #1e2d7e;
  margin: 5 0 10 0;
}

.field-switch {
  vertical-align: center;
  horizontal-align: right;
  margin: 5 0 10 0;
}

.line {
    background-color: #DBDBDB;
    height: 1;
    margin: 0;
    horizontal-align: stretch;
}

.button-border {
    border-color: #E21B63;
}

