<ActionBar title="">
	<NavigationButton text="" android.systemIcon="ic_menu_back" ios.systemIcon="12"></NavigationButton>
</ActionBar>
<GridLayout class="page-holder">
	<GridLayout class="page-content" rows="auto, *">
		<GridLayout row="0">
			<GridLayout class="title-holder" rows="auto,auto">
				<Label row="0" text="Request Airtime" textWrap="true" class="title"></Label>
				<Label row="1" text="ask friends & family to send you airtime" textWrap="true" class="title-description"></Label>
			</GridLayout>
		</GridLayout>
		<ScrollView row="1" class="form-section">
			<StackLayout class="fields-section">
				<StackLayout>
					<StackLayout rows="auto, auto" verticalAlignment="top">
						<Label text="Network Provider" cssClass="field-title"></Label>
						<DropDown #networkProvider cssClass="field" [items]="networkName" [selectedIndex]="providerSelectedIndex" (selectedIndexChange)="onProviderChange(networkProvider.selectedIndex)"
							row="1"></DropDown>
					</StackLayout>
					<StackLayout ios:class="line"></StackLayout>
					<StackLayout rows="auto, auto" verticalAlignment="top">
						<Label text="My Phone Number" cssClass="field-title"></Label>
						<TextField #requestPhone [(ngModel)]="phoneNumber" keyboardType="phone" cssClass="field"></TextField>
					</StackLayout>
					<StackLayout ios:class="line"></StackLayout>
					<StackLayout rows="auto, auto" verticalAlignment="top">
						<Label text="Amount" cssClass="field-title"></Label>
						<TextField #requestAmount [(ngModel)]="amount" keyboardType="number" cssClass="field"></TextField>
					</StackLayout>
					<StackLayout ios:class="line"></StackLayout>
					<!--GridLayout columns="*, auto" verticalAlignment="top">
						<Label text="Save as Template" cssClass="field-switch-title"></Label>
						<Switch #saveAsTemplateSwitch checked="false" cssClass="field-switch"></Switch>
					</GridLayout-->
				</StackLayout>
				<Border class="button-border" (tap)="makeRequest()">
					<GridLayout rows="auto" columns="auto, *">
						<Fonticon faClass="fa-smile-o" col="0"></Fonticon>
						<Label text="Share Now" class="btn-label" col="1"></Label>
					</GridLayout>
				</Border>
			</StackLayout>
		</ScrollView>
	</GridLayout>
</GridLayout>