<ActionBar title="">
	<NavigationButton text="" android.systemIcon="ic_menu_back" ios.systemIcon="12"></NavigationButton>
</ActionBar>
<GridLayout class="page-holder">
	<GridLayout class="page-content" rows="auto, *">
		<GridLayout row="0">
			<GridLayout class="title-holder" rows="auto,auto">
				<Label row="0" text="Settings" textWrap="true" class="title"></Label>
				<Label row="1" text="my settings" textWrap="true" class="title-description"></Label>
			</GridLayout>
		</GridLayout>
		<ScrollView row="1" class="form-section">
			<StackLayout class="fields-section">
				<StackLayout>
					<StackLayout rows="auto, auto" verticalAlignment="top">
						<Label text="My Network Provider:" cssClass="field-title"></Label>
						<DropDown #networkProvider cssClass="field" [items]="networkName" [selectedIndex]="providerSelectedIndex" (selectedIndexChange)="onProviderChange(networkProvider.selectedIndex)"
							row="1"></DropDown>
					</StackLayout>
					<StackLayout ios:class="line"></StackLayout>
					<StackLayout rows="auto, auto" verticalAlignment="top">
						<Label text="My Bank:" cssClass="field-title"></Label>
						<DropDown #banks cssClass="field" [items]="bankItems" [selectedIndex]="providerSelectedIndex2" (selectedIndexChange)="onProviderChange2(banks.selectedIndex)"
							row="1"></DropDown>
					</StackLayout>
					<StackLayout ios:class="line"></StackLayout>
					<StackLayout rows="auto, auto" verticalAlignment="top">
						<Label text="My Phone Number:" cssClass="field-title"></Label>
						<TextField #requestPhone [(ngModel)]="phoneNumber" keyboardType="phone" cssClass="field"></TextField>
					</StackLayout>
					<StackLayout ios:class="line"></StackLayout>
				</StackLayout>
				<Border class="button-border" (tap)="makeRequest()">
					<GridLayout rows="auto" columns="auto, *">
						<Fonticon faClass="fa-floppy-o" col="0"></Fonticon>
						<Label text="Save" class="btn-label" col="1"></Label>
					</GridLayout>
				</Border>
			</StackLayout>
		</ScrollView>
	</GridLayout>
</GridLayout>