@import url('../request/style.css') ;

.ussd-code-label {
    color: #E21B63;
    padding: 10;
    text-align: center;
} 

.contact-btn {
    color: white;
    background-color: #E21B63;
    border-radius: 5;
}

.contact-btn Label {
    vertical-align: middle;
    margin-left:  10;
    margin-right: 10;
    font-size: 20;
}