<ActionBar title="">
	<NavigationButton text="" android.systemIcon="ic_menu_back" ios.systemIcon="12"></NavigationButton>
</ActionBar>
<GridLayout class="page-holder">
	<GridLayout class="page-content" rows="auto, *">
		<GridLayout row="0">
			<GridLayout class="title-holder" rows="auto,auto">
				<Label row="0" text="Send To A Friend" textWrap="true" class="title"></Label>
				<Label row="1" text="send airtime to friends & family" textWrap="true" class="title-description"></Label>
			</GridLayout>
		</GridLayout>
		<ScrollView row="1" class="form-section">
			<StackLayout class="fields-section">
				<StackLayout>
					<StackLayout rows="auto, auto" verticalAlignment="top">
						<Label text="My Bank:" cssClass="field-title"></Label>
						<DropDown #banks cssClass="field" [items]="bankItems" [selectedIndex]="providerSelectedIndex" (selectedIndexChange)="onProviderChange(banks.selectedIndex)"></DropDown>
					</StackLayout>
					<StackLayout ios:class="line"></StackLayout>
					<StackLayout rows="auto, auto" verticalAlignment="top">
						<Label text="Send To:" cssClass="field-title"></Label>
						<GridLayout columns="*, auto" row="1">
							<TextField [(ngModel)]="phoneNumber" keyboardType="phone" class="field" col="0"></TextField>
							<Border class="contact-btn" col="1" (tap)="getContact()">
								<Label text="📒"></Label>
							</Border>
						</GridLayout>
					</StackLayout>
					<StackLayout ios:class="line"></StackLayout>
					<StackLayout rows="auto, auto" verticalAlignment="top">
						<Label text="Amount" cssClass="field-title"></Label>
						<TextField [(ngModel)]="amount" keyboardType="number" class="field"></TextField>
					</StackLayout>
					<StackLayout ios:class="line"></StackLayout>
				</StackLayout>
				<Label class="ussd-code-label" [text]="getUSSDCode()" textWrap="true"></Label>
				<Border class="button-border" (tap)="makeRequest()">
					<GridLayout rows="auto" columns="auto, *">
						<Fonticon faClass="fa-send" col="0"></Fonticon>
						<Label text="Send Now" class="btn-label" col="1"></Label>
					</GridLayout>
				</Border>
			</StackLayout>
		</ScrollView>
	</GridLayout>
</GridLayout>